@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Open Sans", Arial, sans-serif;
	color: #4d4e53;
	font-size: 0.96em;
	min-width: 350px;
	margin: 0;
	line-height: 1.5;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}
h1,
h2 {
	color: black;
}
a {
	text-decoration: none;
	color: black;
}
.wrapper {
	max-width: 100%;
	overflow: hidden;
}
.container {
	display: flex;
}
#main-doc {
	margin-left: 16.2em;
}
@media (max-width: 815px) {
	#main-doc {
		margin-left: inherit;
	}
}

/* ------ ASIDE ------ */

.header__title {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	font-size: 0.9em;
	width: 300px;
	border-right: 3px solid rgba(0, 22, 22, 0.4);
	z-index: 100;
}
.header__title h1 {
	font-weight: 600;
	margin: 10px;
}

@media (max-width: 815px) {
	.header__title {
		position: relative;
		display: block;
		width: 100%;
		max-height: 54px;
		height: 100%;
		border: none;
		margin: 15px auto;
	}
	.container {
		display: block;
	}
}

.aside {
	position: fixed;
	top: 118px;
	left: 0;
	bottom: 0;
	width: 300px;
	border-right: 3px solid rgba(0, 22, 22, 0.4);
	max-height: 100%;
	overflow-y: auto;
}
#nav {
	padding: 0;
	list-style: none;
	font-size: 1.1em;
	margin: 0;
	font-weight: 500;
}
#nav li a {
	color: #4d4e53;
}
.nav-link {
	display: block;
	padding: 10px 30px;
	border-top: 1px solid #4d4e53;
	cursor: pointer;
}
.nav-link:last-of-type {
	border-bottom: 1px solid;
}
@media (max-width: 815px) {
	.aside {
		width: 100%;
		max-height: 209px;
		border: 1px solid;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		margin-top: 10px;
	}
}

/* ------ MAIN ------ */

.main-section {
	padding: 0 35px;
}
.info__title {
	font-size: 1.8em;
}
.info__article {
	margin: 15px 25px;
}
.article-list__item {
	margin: 15px 20px;
}
.code__article {
	display: block;
	white-space: pre-line;
	line-height: 2;
	margin: 10px 35px;
	padding: 15px;
	background-color: #f7f7f7;
	border-radius: 5px;
}
