@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Open Sans", Arial, sans-serif;
	color: #4d4e53;
	font-size: 0.96em;
	min-width: 350px;
	margin: 0;
	line-height: 1.5;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}
h1,
h2 {
	color: black;
}
a {
	text-decoration: none;
	color: black;
}
.wrapper {
	max-width: 100%;
	overflow: hidden;
}
.container {
	display: flex;
}

/* ------ ASIDE ------ */

.aside__nav {
	padding: 0;
	list-style: none;
	font-size: 1.1em;
	margin: 0;
	font-weight: 500;
}
.aside__nav li a {
	color: #4d4e53;
}
.aside__title {
	display: block;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	font-size: 0.9em;
	width: 300px;
	border-right: 3px solid rgba(0, 22, 22, 0.4);
	z-index: 100;
}
.aside__title h1 {
	font-weight: 600;
	margin: 10px;
}

.aside {
	position: fixed;
	top: 118px;
	left: 0;
	width: 300px;
	border-right: 3px solid rgba(0, 22, 22, 0.4);
	height: 100vh;
	overflow: auto;
}
.nav-link {
	display: block;
	padding: 10px 30px;
	border-top: 1px solid #4d4e53;
	cursor: pointer;
}
